* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-about {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140vw;
    height: 150vh;
    background: url('/images/student-about.png') no-repeat center center;
    background-size: contain;
    z-index: 0;
}

.about {
    border-top: 10px;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    color: black;
    font-family: "Futura Std", sans-serif;
    z-index: 1;
}

.age {
    padding-left: 150px;
    font-size: 60px;
    font-weight: bold;
    position: relative;
}

.what.now {
    padding-right: 150px;
    font-size: 40px;
    font-weight: bold;
    position: relative;
}