body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Futura Std", sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}

.nav{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 30px;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    height: 12%;
}

.nav.courses-navbar {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    /*box-shadow: 0 -2px 8px rgba(0,0,0,0.1);*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 12%;
}

.nav.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 -2px 8px rgba(0,0,0,0.1);
    z-index: 1000;
}

.logo {
    height: 100px;
}

.nav-links {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 25px;
    transition: margin-left 0.3s ease, padding-left 0.3s ease;
}

.nav-links .search-input {
    display: inline-block;
    transition: transform 0.3s ease;
    transform: scale(0);
    opacity: 0;
    height: 30%;
}

.search-input {
    width: 200px;
    font-size: 16px;
    transition: transform 0.5s ease, opacity 0.3s ease, width 0.3s ease;
    margin-top: 10px;
    opacity: 0;
    transform: scale(0);
}

.nav-links.search-active {
    margin-left: 150px;
}
.nav-links .search-input {
    transform: scale(1) translateY(0);
    opacity: 1;
}

.nav-links.search-active .search-input {
    opacity: 1;
    transform: scale(1);
    width: 200px;
}

.nav-link{
    text-transform: lowercase;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.nav-link:hover, .nav-link.active {
    font-size: 20px;
    font-weight: bolder;
    text-decoration: underline;
    transition: color 0.3s ease, font-size 0.3s ease;
}

.nav.scrolled {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 -2px 8px rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
}

.menu-toggle {
    display: none;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.user-dropdown {
    position: relative;
    display: inline-block;
}

.user-dropdown .username {
    cursor: pointer;
    font-size: 16px;
}

.username:hover {
    font-weight: bolder;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 110px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border: 2px solid black;
    margin-top: .1rem;
    border-radius: 0;
    margin-right: 0;
}

.dropdown-content button {
    width: 100%;
    padding: 5px;
    color: black;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Futura Std', sans-serif;
    font-size: 0.7em;
    border-radius: 0;
    background-color: white;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 0;
}

.dropdown-content button:hover {
    background-color: black;
    color: white;
}

.user-dropdown:hover .dropdown-content {
    display: block;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        align-content: center;

    }

    .nav-links {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: white;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        gap: 15px;
        display: none;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }

    .nav-links.open {
        display: flex;
    }
}

.icon-search {
    font-size: 20px;
    color: black;
    cursor: pointer;
}

.icon-search:hover {
    font-size: 22px;
    font-weight: bolder;
    transition: color 0.3s ease, font-size 0.3s ease;
}

.footer {
    position: static;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 20px;
    left: 0;
    top: auto;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    z-index: 2;
    bottom: 0;
    display: flex;
}

.footer-content {
    max-width: 100%;
    margin: auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.footer-content p {
    font-size: 13px;
    color: #666;
}

.footer img {
    align-items: center;
    text-align: center;
    width: 20px;
    height: auto;
}

@media (max-width: 768px) {
    .nav-links {
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
    }
}
