.comments-section {
    max-width: 900px;
    margin: 50px auto;
    padding: 0 20px;
    font-family: "Futura Std", sans-serif;
}

.comments-section h2 {
    font-size: 24px;
    font-weight: bold;

    color: #222;
}

.comment-input {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 15px;
    margin-bottom: 30px;
    margin-top: 10px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.comment-input textarea {
    flex: 1;
    border: none;
    background: transparent;
    font-size: 16px;
    outline: none;
    padding: 12px 10px;
    resize: none;
    min-height: 40px;
}

.submit-button {
    width: 35px;
    height: 35px;
    background-color: #222;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #E67700;
}

.comment-card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    margin-bottom: 15px;
    position: relative;
}

.comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /*justify-content: space-between;*/
}

.avatar {
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
}

.username {
    font-weight: bold;
    margin-right: 10px;
    font-size: 14px;
    color: #444;
}

.date {
    font-size: 12px;
    color: #888;
}

.comment-text {
    font-size: 15px;
    color: #333;
    line-height: 1.4;
}

.see-more {
    text-align: center;
    margin-top: 25px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    text-decoration: underline;
}

.comments-dropdown-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: #222;
    font-size: 14px;
    margin-bottom: 10px;
    user-select: none;
    transition: color 0.3s ease;
}

.comments-dropdown-header:hover {
    color: #E67700;
}

.comments-dropdown-header .arrow {
    margin-left: 5px;
    transition: transform 0.3s ease;
    display: inline-block;
}

.comments-dropdown-header .up {
    transform: rotate(180deg);
}

.comments-dropdown-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    padding-bottom: 20px;
}

.comments-dropdown-header h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #222;
}