@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.homepage-hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/images/background-image.jpg');
    transition: background-image 0.3s ease-in-out;
}

.map-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    position: relative;
    width: 100%;
    height: 100%;
}

.area {
    position: absolute;
    font-family: 'Alumni Sans', sans-serif;
    font-weight: 550;
    font-size: 1.5em;
    animation: move 0.6s infinite alternate;
    z-index: 10;
    cursor: pointer;
    transition: transform 0.3s ease;
    text-decoration: none;
}

@media (max-width: 1200px) {
    .area {
        font-size: smaller;
    }

    .map {

        .arts {
            top: 29vh;
            left: 10vw;
        }

        .architecture {
            top: 41vh;
            left: 79vw;
        }

        .tech {
            top: 48vh;
            left: 35vw;

        }

        .philosophy {
            top: 77vh;
            left: 49vw;
        }

        .psychology {
            top: 30vh;
            left: 55vw;
        }

        .design {
            top: 60vh;
            left: 62vw;
        }

        .math {
            top: 73vh;
            left: 81vw;
        }
    }
}


@media (max-width: 1024px) {
    .background-homepage {
        background-image: url('/images/background-image.jpg');
        background-position: center;
    }

    .area {
        display: none;
    }
}

@media (max-width: 768px) {
    .background-homepage {
        background-image: url('/images/background-image.jpg');
        position: relative;
    }

    .area {
        display: none;
    }
}

@media (max-width: 576px) {
    .homepage-hero {
        background-image: url('/images/homepage-background-mobile.jpg');
    }

    .area {
        display: none;
    }
}


@keyframes move {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5px);
    }
}

.area:hover {
    animation: none;
    transform: translateY(-5px);
}

.arts {
    color: #F50000;
    top: 22vh;
    left: 10vw;
    font-size: 1.5em;
}

.law {
    color: #E67700;
    top: 66vh;
    left: 25vw;
    font-size: 2.5em;
}

.psychology {
    color: #026CB8;
    top: 23vh;
    left: 55vw;
    font-size: 1.25em;
}

.tech {
    color: #03A53F;
    top: 48vh;
    left: 38vw;
    font-size: 1.5em;
}

.design {
    color: #E6C403;
    top: 66vh;
    left: 62vw;
    font-size: 2em;
}

.architecture {
    color: #9C0168;
    top: 38vh;
    left: 79vw;
    font-size: 2.5em;
}

.math {
    color: #960014;
    top: 72vh;
    left: 81vw;
    font-size: 1.25em;
}

.philosophy {
    color: #00C2DC;
    top: 85vh;
    left: 46vw;
    font-size: 1.25em;
}