html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.contact-container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    padding: 45px 60px;
    width: 90%;
    max-width: 850px;
    max-height: 600px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px 0 0 0;
}

input {
    width: 100%;
    max-width: 550px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F4F4F4;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.15) inset;
    border-style: none;
    font-family: "Futura Std", sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
    padding: 0 15px;
    box-sizing: border-box;
}

h3 {
    font-size: 30px;
    color: black;
    margin-bottom: 30px;
}

button {
    border-radius: 40px;
    background: #F4F4F4;
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.15);
    width: 105px;
    height: 37px;
    flex-shrink: 0;
    margin-top: 25px;
    border-style: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.form-columns {
    display: flex;
    gap: 50px;
    width: 100%;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.left-column input {
    width: 100%;
}

.right-column input {
    width: 100%;
}

.register-link {
    font-size: 16px;
    color: black;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 0;
}

.register-link-text {
    font-weight: 600;
    color: black;
}


@media (max-width: 768px) {
    .form-columns {
        flex-direction: column;
    }
}
