.react-calendar {
    border: none !important;
    width: 100% !important;
    height: 100% !important;
    background: transparent;
    overflow: hidden;
}

.calendar-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.react-calendar__navigation button {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 12px;
    padding: 0.2rem 0.5rem;
}

.react-calendar__month-view__weekdays {
    text-align: center;
    font-weight: 600;
    font-size: 0.9rem;
    color: black;
}

/* Cada dia */
.react-calendar__tile {
    border-radius: 10px;
    width: 100%;
    height: 4rem;
    position: relative;
    background: none !important;
    box-shadow: none !important;
    margin: auto;
    padding: 0;
    border: none !important;
}

/* Número no canto sup. esquerdo */
.day-number {
    position: absolute;
    top: 4px;
    left: 6px;
    font-weight: 600;
    font-size: 0.85rem;
}

/* Dias do mês atual: fonte mais bold */
.current-month-day .day-number {
    font-weight: 600;
    color: black;
}

.shadow-grey .day-number {
    color: #A0A0A0 !important;
}

/* Dias do mês anterior/posterior: número a cinzento */
.other-month-day .day-number {
    color: #A0A0A0;
}

/* Fins de semana (sábado e domingo) → números também a cinza escuro */
.weekend .day-number {
    color: #A0A0A0 !important;
}

/* Shadows coloridas (cores random) */
.shadow-red    { box-shadow: inset 0 0 5px #F44336 !important; }
.shadow-orange { box-shadow: inset 0 0 5px #FF9800 !important; }
.shadow-yellow { box-shadow: inset 0 0 8px #FFEB3B !important; }
.shadow-green  { box-shadow: inset 0 0 5px #4CAF50 !important; }
.shadow-blue   { box-shadow: inset 0 0 5px #2196F3 !important; }
.shadow-purple { box-shadow: inset 0 0 5px #9C27B0 !important; }
.shadow-pink   { box-shadow: inset 0 0 5px #E91E63 !important; }

/*!* Dias de outro mês → shadow cinzenta clara *!*/
/*.shadow-grey   { box-shadow: 0 0 0 2px #D3D3D3 inset !important; }*/

/* Dias de outro mês → shadow cinzento suave + cor de número suavizada */
.shadow-grey {
    box-shadow: inset 0 0 8px #D3D3D3 !important;
}

/* Responsivo */
@media (max-width: 768px) {
    .react-calendar__tile {
        height: 3rem;
    }
    .day-number {
        font-size: 0.75rem;
    }
    .react-calendar__navigation button {
        font-size: 0.9rem;
        padding: 0.1rem 0.3rem;
    }
}

@media (max-width: 480px) {
    .react-calendar__navigation {
        align-items: center;
        width: 50% !important;
    }
}
