.configurations-section .section-two {
    padding: 1rem 1rem 0 1rem;
}

.cards .section-two p, .section-three p {
    display: grid;
    justify-content: left;
}

    .inputs {
        margin-right: 1rem;
        margin-top: 1.5rem;
        width: 100%;
        max-height: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: .2rem;

        .first-name, .last-name, .age, .email, .phone {
            width: 100%;
            height: 30px;
            border-radius: 8px;
            padding: 0.5rem;
            font-size: 0.9rem;
        }


        .country, .city, .zip, .district {
            width: 100%;
            height: 30px;
            border-radius: 8px;
            padding: 0.5rem;
            font-size: 0.9rem;
        }
    }

    .inputs .bio  {
        margin-right: 1rem;
        margin-top: 0;
        width: 100%;
        max-height: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: .2rem;
        border-radius: 8px;
        padding: 0.8rem;
        font-size: 0.9rem;
        resize: none;
        background: #F4F4F4;
        box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.15) inset;
        margin-bottom: 0.7rem;
        border: none;
        font-family: "Futura Std", sans-serif;
    }

.configurations-section .section-one {
    padding: 1rem;
}

.configurations-section h4 {
    padding-bottom: 1.5rem;
}

.configurations-section .section-two {
    margin-bottom: .5rem;
    margin-top: 1.5rem;
    padding: 1.5rem;
}

.configurations-section .section p {
    font-size: 0.9rem;
    font-weight: 600;
    color: #ADADAD;
}
.save {
    height: 25px;
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}

.delete {
    height: 25px;
    color: red;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
}

.delete-icon {
    margin-right: .15rem;
    padding-bottom: .1rem;
    fill: red;
}

.card-two .save-delete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.checkbox-container .show-hide-picture {
    margin-top: .5rem;
    height: 15px;
    width: 15px;
    cursor: pointer;
    margin-right: 0.5rem;
}